<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- 1_Activation des annotations de Spring MVC : @RequestMapping, @RequestParam,... -->

<mvc:annotation-driven/>

<!-- 2_Activation de la détection automatique du RestController : @RestController de SpringIoC -->

<context:component-scan base-package="fr.adaming.rest"/>

<!-- 3_Forcer le conteneur web à intercepter les requêtes -->
<mvc:default-servlet-handler/>


</beans>
